.posts {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.post-comments,
.comments {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.post-card,
.comment-card {
  display: flex;
  box-shadow: 0 0 2.5px 0px rgba(20, 88, 206, 0.5);
  transition: .25s;
  border-radius: 5px;
  padding: 10px;
  //min-width: 512px;
  width: calc( 50% - 10px);
  margin: 5px;
  min-height: 200px;
  height: fit-content;
  position: relative;

  &:hover {
    box-shadow: 0 0 7.5px 0px rgba(20, 88, 206, 0.5);
    transform: translateY(-2.5px);
  }

  .post-card-general,
  .comment-card-general {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;

    .post-card-user-profile-picture,
    .comment-card-user-profile-picture {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .post-card-user-avatar,
      .comment-card-user-avatar {
        border-radius: 50%;
        object-fit: cover; 
        object-position: center;
        height: 50px;
        width: 50px;
        cursor: pointer;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        box-shadow: 0px 0px 5px 1px rgba(20, 88, 206, 0.308);
      }
    }

    .post-card-rating-container,
    .comment-card-rating-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      //margin-bottom: 5px;
      height: 100px;
      // background-color: aquamarine;

      .post-card-action,
      .comment-card-action {
        font-weight: bold;
        font-family: 'Cunia', sans-serif;
        font-size: 24px;
        display: flex;
        cursor: pointer;
        // background-color: blue;

        &:first-of-type {
          align-items: flex-start;
        }

        &:last-of-type {
          align-items: flex-end;
        }
      }
    }
  }

  .post-card-info,
  .comment-card-info {
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(20, 88, 206, 0.25); // remove

    .post-card-title {
      display: block;
      background-color: rgb(20, 88, 206);
      //background-color: rgba(20, 88, 206, 0.5);
      padding: 2.5px 7.5px;
      width: fit-content;
      font-weight: bold;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
    }
  
    .post-card-content-preview {
      //padding: 10px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      //height: 120px;
      width: 100%;
    }

    .post-card-content,
    .comment-card-content {
      height: fit-content;
      padding: 10px 0;
      width: 100%;
    }

    .post-card-tags {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: fit-content;
      flex-flow: row wrap;
    }
  }
}

.side-tags {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  padding: 10px;
}

.post-card.single {
  display: flex;
  box-shadow: 0 0 2.5px 0px rgba(20, 88, 206, 0.5);
  transition: .25s;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 5px;
  min-height: 200px;
  height: fit-content;

  &:hover {
    box-shadow: 0 0 2.5px 0px rgba(20, 88, 206, 0.5);
    transform: none;
    cursor: default;
  }

  .post-card-general {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;

    .post-card-user-profile-picture {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .post-card-user-avatar {
        border-radius: 50%;
        object-fit: cover; 
        object-position: center;
        height: 50px;
        width: 50px;
        cursor: pointer;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        box-shadow: 0px 0px 5px 1px rgba(20, 88, 206, 0.308);
      }
    }

    .post-card-rating-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      //margin-bottom: 5px;
      height: 100px;
      // background-color: aquamarine;

      .post-card-action {
        font-weight: bold;
        font-family: 'Cunia', sans-serif;
        font-size: 24px;
        display: flex;
        // background-color: blue;

        &:first-of-type {
          align-items: flex-start;
        }

        &:last-of-type {
          align-items: flex-end;
        }
      }
    }
  }

  .post-card-info {
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(20, 88, 206, 0.25); // remove

    .post-card-title {
      display: block;
      background-color: rgb(20, 88, 206);
      //background-color: rgba(20, 88, 206, 0.5);
      justify-self: flex-start;
      padding: 2.5px 7.5px;
      width: fit-content;
      font-weight: bold;
      border-radius: 5px;
      color: #fff;
    }
  
    .post-card-tags {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.comment-card {
  width: 100%;
}