.sign-row,
.profile-row,
.profile-edit-row,
.creating-post-row,
.creating-comment-row {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  & a {
    color: #0B51C6;
  }

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  & label {
    text-align: center;
    margin-bottom: 7.5px;
  }

  & input,
  & textarea {
    padding: 10px 12.5px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid grey;
    color: #0B51C6;
    resize: none;

    &[type=submit] {
      color: #fff;
      cursor: pointer;
      padding: 20px 50px;
      width: fit-content;
      font-size: 16px;
      background-color: #0B51C6;
      transition: .25s;
      font-family: 'Cunia', sans-serif;
      border: none;
      outline: none;

      &:hover {
        background-color: rgb(19, 175, 32);
        border-radius: 7.5px;
      }
    }
  }
}

.profile-row {
  input {
    outline: none;
    cursor: default;
  }
}

.profile-row,
.profile-edit-row {
  .profile-change {
    border: 1px solid #0B51C6;
    background-color: rgba(194, 194, 194, 0.15);
  }

  .profile-avatar,
  .profile-edit-avatar {
    box-shadow: 0px 0px 5px 1px rgba(20, 88, 206, 0.308);
    border-radius: 50%;
    object-fit: cover; 
    object-position: center;
    height: 100px;
    width: 100px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

.profile-row label,
.profile-edit-row label,
.creating-post-row label,
.creating-comment-row label {
  text-align: start;
}

.site-data.single {
  input {
    cursor: default;

    &:focus-visible {
      outline: none;
    }
  }
}

.profile-edit {
  display: flex;
	background-color: rgba(179, 184, 190, 0.808);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  font-weight: bold;
  transition: .25s;
  color: #fff;
  height: 40px;
  width: 40px;
  right: 20px;
  top: 20px;

  &:hover {
    background-color: rgb(20, 88, 206);
  }
}

.upload-avatar {
  display: block;
  background-color: rgb(20, 88, 206);
  padding: 5px 10px;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  //margin: 0 2.5px;
  margin-bottom: 10px;
  transition: .25s;
  color: #fff;

  &:hover {
    cursor: pointer;
    background-color: rgba(35, 95, 199, .85);
  }
}
