.tags {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  grid-column: 1 / 5; // according to site-data grid tamplate
}

.tag-card {
  // border: 1px solid grey;
  box-shadow: 0 0 2.5px 0px rgba(20, 88, 206, 0.5);
  border-radius: 6px;
  padding: 10px;
  min-width: 245px;
  width: calc(16.6% - 10px);
  margin: 5px;
  height: 125px;
  transition: .25s;

  &:hover {
    box-shadow: 0 0 7.5px 0px rgba(20, 88, 206, 0.5);
    transform: translateY(-2.5px);
    cursor: pointer;
  }

  .tag-card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.tag-card-title {
  display: block;
  background-color: rgb(20, 88, 206);
  padding: 2.5px 7.5px;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 2.5px;
  margin-bottom: 10px;
  color: #fff;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.tag-container.single {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

  & > div {
    margin: 25px 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .tag-card {
    // border: 1px solid grey;
    box-shadow: 0 0 2.5px 0px rgba(20, 88, 206, 0.5);
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    margin: 5px;
    height: fit-content;
    transition: .25s;
  
    &:hover {
      box-shadow: 0 0 2.5px 0px rgba(20, 88, 206, 0.5);
      transform: none;
      cursor: default;
    }
  
    .tag-card-description {
      padding: 10px 0;
    }
  }

  .tag-posts {
    width: 100%;
    
    & > div {
      margin: 10px 0;
      width: 100%;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
