@font-face {
	font-family: "Cunia";
	src: url("./fonts/Cunia\ Bold\ 700.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
    
*, *::before, *::after {
	// font-family: 'Cunia', sans-serif;
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
}

#bitsolver {
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.site-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	height: calc(100vh - 70px);
}

.site-small-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	height: 70px;
	padding: 0 20px;
	background-color: aquamarine;

	a {
		font-family: 'Cunia', sans-serif;
	}
}

.site-data {
	width: 70%;
	display: grid;
	grid-template-columns: 4fr 1fr; // change if need
	margin-bottom: 20px;

	&.single {
		display: flex;
		justify-content: center;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

code {
	display: block;
	background-color: rgba(179, 184, 190, 0.808);
	padding: 2.5px 10px;
	width: fit-content;
	font-weight: bold;
	border-radius: 5px;
	color: #fff;
}

.loader {
	grid-column: 1/5;
	display: flex;
	justify-content: center;
	align-items: center;
}
