@font-face {
	font-family: "Cunia";
	src: url("./fonts/Cunia\ Bold\ 700.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
    
*, *::before, *::after {
	// font-family: 'Cunia', sans-serif;
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
}

#bitsolver {
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.site-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	height: calc(100vh - 70px);
}

.site-small-header {
	display: grid;
	grid-template-columns: 4fr 1fr; // change if need
	width: 70%;
	height: 70px;
	padding: 0 10px;

	&.single {
		margin: 10px 0;

		& > div:first-of-type {
			grid-column: 1 / -1;
		}

		& > div:empty {
			display: none;
		}
	}

	& > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.small-header-center-title {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-column: 1 / -1;
	}

	a {
		font-size: 18px;
		transition: .25s;
		display: block;
		background: transparent;
		padding: 0;
		padding-right: 10px;
		border-radius: 0;

		&:hover {
			color: #fff;
			padding: 5px 10px;
			background-color: #0B51C6;
			border-radius: 5px;
		}
	}
}

.form-container {
  border-radius: 10px;
  border: 1px solid grey;
	position: relative;
  padding: 25px;
  width: 400px;

	&.single {
		width: 50%;
	}
}

.fit-avatar {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.site-data {
	width: 70%;
	display: grid;
	grid-template-columns: 4fr 1fr; // change if need
	margin-bottom: 20px;

	&.single {
		display: flex;
		justify-content: center;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

code {
	display: block;
	background-color: rgba(179, 184, 190, 0.808);
	padding: 2.5px 10px;
	width: fit-content;
	font-weight: bold;
	border-radius: 5px;
	color: #fff;
}

.loader {
	grid-column: 1/5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.small-buttons {
  display: flex;
  color: rgb(20, 88, 206);
  justify-content: space-between;
  align-items: center;
	height: fit-content;
  position: absolute;
  width: 3rem;
  right: 12.5px;
  top: 12.5px;
}

.edit,
.delete {
  display: flex;
  color: rgb(20, 88, 206);
  justify-content: center;
  align-items: center;
  transition: .25s;
  height: fit-content;
  width: fit-content;

  &:hover {
    color: rgb(0, 63, 172);
		cursor: pointer;
  }
}

@media (max-width: 815px) {
  .site-data {
    width: 100%;
		display: flex;
		flex-direction: column;
  }
}

@media (max-width: 1864px) {
  .post-card {
    width: 100%;
  }
}

